<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<!--    <link rel="stylesheet" href="styles.css" type = "text/css">-->
    <title>About Page</title>
</head>
<body>

<!--Navbar-->
<div th:insert="base :: navbar"></div>
<br>

<!--Jumbotron-->
<div class="jumbotron" style="background-color: lightblue">
    <h3 class="display-4">America's Promise Java Boot Camp!</h3>
    <p class="lead">About America's Promise Java Boot Camp</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg"
       href="https://www.montgomerycollege.edu/workforce-development-continuing-education/information-technology/"
       role="button">Learn more</a>
</div>
<br>

<!--Grid-->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>America's Promise Grant Program</h3>
            <br>
            America’s Promise Job-Driven Grant Program is a tuition-free jobs training program designed to strengthen
            the pipeline of skilled workers to expand our region’s middle-to high-skilled workforce in in the
            Information Technology and Cybersecurity industries. To help achieve this goal, the grant provides
            individuals the opportunity to attain high-quality, tuition free education that leads to in-demand
            industry-recognized credentials. To be eligible for this program, you must be either an unemployed worker,
            and underemployed worker or have an employer attest to the fact this training will increase your value to
            the organization. Learn more about America's Promise Grant Program and how to apply to be considered for
            the program.
            <br><br><br>
            <h3>What is the criteria for admission to this program?</h3>
            <br>
            Our ideal candidate is an Information Systems of Computer Science major who is either at least a rising
            junior who will graduate within two years, or has graduated within the last six years.
            The Boot Camps will feature real-world projects provided by local employers. To be eligible for this
            program, you must be either an unemployed worker, and underemployed worker (making less than $42,000/year)
            or have an employer attest to the fact that this training will increase your value to the organization.
            In addition to technical training, participants will also receive one-on-one career navigator guidance to
            assist them with their employment goals. Boot camps are scheduled during daytime hours and typically run
            Monday to Friday from 9:00a.m. to 5:00p.m.

        </div>
        <div class="col-sm-4" style="padding-left: 4%">
<!--            <iframe width="560" height="315" src="https://www.youtube.com/embed/0IX8kH9BEy0"-->
<!--                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--                    allowfullscreen></iframe>-->
                    <br><br><br><br><br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0IX8kH9BEy0"
                                allowfullscreen>
                        </iframe>
                    </div>
            <br>
            <h5 style=" color:coral; ">Partnerships: A key to Workforce Development</h5>
        </div>
    </div>

    <br><br><br><br><br>
    <!--Row 2-->
    <div class="row">

  <!--Text area-->
   <div th:insert="base :: textarea"></div>

        <!--End of Row2-->
    </div>
<!--End of column-->
</div>


<br><br>
<!--Footer-->
<div th:insert="base :: footer"></div>

</body>
</html>