<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<!--<div th:fragment="main_navbar">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <span class="navbar-brand mb-0 h1">Student Course App</span>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse justify-content-end" id="main_navbar">-->
<!--            <ul class="navbar-nav ml-auto">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/class">Classes</a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
<!--                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        Students-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <a class="dropdown-item" href="/student">Profile</a>-->
<!--                        <a class="dropdown-item" href="/transcript">Unofficial Transcript</a>-->
<!--                    </div>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->
<!--<div th:fragment="navbar">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-success text-white">-->
<!--        <span class="navbar-brand mb-0 h1">Student Course App</span>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse justify-content-end" id="navbar">-->
<!--            <ul class="navbar-nav ml-auto">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link text-white" href="/">Home</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link text-white" href="class">Classes</a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"-->
<!--                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        Students-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <a class="dropdown-item" href="/student">Profile</a>-->
<!--                        <a class="dropdown-item" href="/transcript">Unofficial Transcript</a>-->
<!--                    </div>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

<!--Navbar-->
<!--<div th:fragment="navbar">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-primary">-->
<!--        <a class="navbar-brand" href="/">MyBlog</a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"-->
<!--                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--            <div class="navbar-nav">-->
<!--                <a class="nav-item nav-link active text-white" href="/">Home </a>-->
<!--                <a class="nav-item nav-link text-white" href="/profile">Profilepage</a>-->
<!--                <a class="nav-item nav-link text-white" href="/entry">Entry</a>-->
<!--                <a class="nav-item nav-link text-white" href="/about" >About</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
<!--    </nav>-->
<!--</div>-->

<div th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/">MyBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="/profile">ProfilePage</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle  text-white" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entries
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/corejava1">Core Java 1</a>
                    <a class="dropdown-item" href="/corejava2">Core Java 2</a>
                    <a class="dropdown-item" href="/github1">GitHub 1</a>
                    <a class="dropdown-item" href="/github2">GitHub 2</a>
                    <a class="dropdown-item" href="/oopjava1">OOP Java 1</a>
                    <a class="dropdown-item" href="/oopjava2">OOP Java 2</a>
                    <a class="dropdown-item" href="/pda1">PD&A 1</a>
                    <a class="dropdown-item" href="/pda2">PD&A 2</a>
                    <a class="dropdown-item" href="/bootstrap">BootStrap</a>
                    <a class="dropdown-item" href="/introhtml">HTML</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/about">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
    </div>
</nav>
</div>


<!--Text Area-->
<div th:fragment="textarea">
    <form>
        <h4>Questions / Comments:</h4>
        <br>
        <textarea rows="4" cols="125">

    </textarea>
        <br>
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
</div>



<!--Footer-->
<div th:fragment="footer">
    <div class="alert alert-info" role="alert">
        <div class="row justify-content-rt-center">
            <div class="col">
        &copy;2019
            </div>
            <div class="col">
            <!--Facebook-->
            <button type="button" class="btn btn-fb" onClick="parent.location='https://www.facebook.com/'">
                <i class="fab fa-facebook-f pr-1"></i> Facebook</button>
            <!--Twitter-->
            <button type="button" class="btn btn-tw" onClick="parent.location='https://www.twitter.com/'">
                <i class="fab fa-twitter pr-1" ></i> Twitter</button>
            <!--Google +-->
            <button type="button" class="btn btn-gplus" onClick="parent.location='https://www.google.com/'">
                <i class="fab fa-google-plus-g pr-1"></i> Google +</button>
            <!--Linkedin-->
            <button type="button" class="btn btn-li" onClick="parent.location='https://www.linkedin.com/'">
                <i class="fab fa-linkedin-in pr-1"></i> Linkedin</button>
            <!--Instagram-->
            <button type="button" class="btn btn-ins" onClick="parent.location='https://www.instagram.com/'">
                <i class="fab fa-instagram pr-1"></i> Instagram</button>
            <!--Pinterest-->
            <button type="button" class="btn btn-pin" onClick="parent.location='https://www.pinterest.com/'">
                <i class="fab fa-pinterest pr-1"></i> Pinterest</button>
        </div>
        </div>
        <p>Blog reading is a fun.......</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>