<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <title>Home</title>
</head>

<body>

<div th:insert="base :: navbar"></div>
<br>

<div class="container">
    <div class="col-sm">
        <div class="alert alert-info" role="alert">
            <h3>Blog Home</h3>
        </div>


<!--Core Java blog-->

        <div class="alert alert-primary" role="alert">
             <h4>Java Data Types</h4>
             <p><i>09/27/2019</i></p>
             <p>There are two types of data types in Java: Primitive data types: The primitive data types include
                 boolean, char, byte, short, int, long, float and double.
                 <a href="#" class="card-link">View more...</a> </p>
         </div>



        <div class="alert alert-primary" role="alert">
            <h4>Java Exception Handling</h4>
            <p><i>09/27/2019</i></p>
            <p>An exception is an unwanted or unexpected event, which occurs during the execution of a program
                i.e at run time, that disrupts the normal flow of the program's instructions.
                <a href="#" class="card-link">View more...</a> </p>
        </div>


<!--  github blog  -->


    <div class="alert alert-primary" role="alert">
        <h4>Highlights from Git 2.23</h4>
        <p><i>09/26/2019</i></p>
        <p>The open source Git project just released Git 2.23 with features and bug fixes from over 77 contributors,
            26 of them new. Here’s our look at some of the most exciting features and changes introduced since Git 2.22.
            <a href="#" class="card-link">View more...</a> </p>
    </div>



    <div class="alert alert-primary" role="alert">
        <h4>The GitHub Student Developer Pack is back</h4>
        <p><i>09/26/2019</i></p>
        <p>The GitHub Student Developer Pack is back for another school year.
            <a href="#" class="card-link">View more...</a> </p>
    </div>

<!--Object-oriented Java blog-->
        <div class="alert alert-primary" role="alert">
            <h4>Java Encapsulation</h4>
            <p><i>09/25/2019</i></p>
            <p>Encapsulation in Java is a mechanism of wrapping the data (variables) and code acting on the data
                (methods)together as a single unit. ...<a href="#" class="card-link">View more...</a> </p>
        </div>

        <div class="alert alert-primary" role="alert">
            <h4>Java Inheritance</h4>
            <p><i>09/25/2019</i></p>
            <p>Inheritance in Java is a mechanism in which one object acquires all the properties and behaviors of
                a parent object.<a href="#" class="card-link">View more...</a> </p>
        </div>


<!--Program Design & Algorithms blog-->

        <div class="alert alert-primary" role="alert">
            <h4>Algorithm Design and Analysis</h4>
            <p><i>09/24/2019</i></p>
            <p>This course, part of the Computer Science Essentials for Software Development Professional Certificate
                program, is an introduction to design and analysis of algorithms, and answers along the way these and
                many other interesting computational questions..<a href="#" class="card-link">View more...</a> </p>
        </div>

        <div class="alert alert-primary" role="alert">
            <h4>Fundamentals of program design</h4>
            <p><i>09/24/2019</i></p>
            <p>Every computer program is built from components, data, and control..
                <a href="#" class="card-link">View more...</a> </p>
        </div>


<!-- HTML/CSS/Bootstrap blog -->

        <div class="alert alert-primary" role="alert">
            <h4>How To Make a Website with Bootstrap</h4>
            <p><i>09/23/2019</i></p>
            <p>Bootstrap is the most popular HTML, CSS, and JavaScript framework for developing responsive,
                mobile-first websites. Bootstrap is completely free to download.
                <a href="#" class="card-link">View more...</a> </p>
        </div>

        <div class="alert alert-primary" role="alert">
            <h4>Introduction to HTML</h4>
            <p><i>09/23/2019</i></p>
            <p>HTML is the standard markup language for creating Web pages. HTML stands for Hyper Text Markup Language.
                <a href="#" class="card-link">View more...</a> </p>
        </div>

    </div>
</div>



<!--Footer-->
<div th:insert="base :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>