<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <title>Algorithm Design and Analysis</title>
</head>

<body>

<!--Navbar-->
<div th:insert="base :: navbar"></div>
<br><br>


<!--Grid-->
<div class="container">
    <div class="row">

        <!--        Column 1-->
        <!--        Text goes here-->
        <div class="col-sm-8">
            <div class="alert alert-primary" role="alert">
                <h3> Algorithm Design and Analysis </h3>
            </div>

            <br>

            <p>An Algorithm is a sequence of steps to solve a problem. Design and Analysis of Algorithm is very
                important for designing algorithm to solve different types of problems in the branch of computer science
                and information technology. This tutorial introduces the fundamental concepts of Designing Strategies,
                Complexity analysis of Algorithms, followed by problems on Graph Theory and Sorting methods.
                This tutorial also includes the basic concepts on Complexity theory.
            </p>
            <p>
            <h5>Algorithm Design</h5>
                The important aspects of algorithm design include creating an efficient algorithm to solve a problem in
            an efficient way using minimum time and space.

                To solve a problem, different approaches can be followed. Some of them can be efficient with respect to
            time consumption, whereas other approaches may be memory efficient. However, one has to keep in mind that
            both time consumption and memory usage cannot be optimized simultaneously. If we require an algorithm to
            run in lesser time, we have to invest in
            </p>
            <p>
            <h5>Pseudocode</h5>
                Pseudocode gives a high-level description of an algorithm without the ambiguity associated with plain
                text but also without the need to know the syntax of a particular programming language.

                The running time can be estimated in a more general manner by using Pseudocode to represent the
                algorithm as a set of fundamental operations which can then be counted.


            </p>
            <p>
            <h5>Difference between Algorithm and Pseudocode</h5>
                An algorithm is a formal definition with some specific characteristics that describes a process, which
                could be executed by a Turing-complete computer machine to perform a specific task. Generally, the word
                "algorithm" can be used to describe any high level task in computer science.

                On the other hand, pseudocode is an informal and (often rudimentary) human readable description of an
                algorithm leaving many granular details of it. Writing a pseudocode has no restriction of styles and
                its only objective is to describe the high level steps of algorithm in a much realistic manner in
                natural language.
            </p>
            <!--Text end here-->
        </div>

        <!--        Column 2-->

        <!--        Subscribe-->
        <div class="col-sm-4" style="padding-left: 7%" >

            <br><br><br><br><br>
            <div th:insert="base :: subscribe"></div>
        </div>
        <!--        End of Row1-->
    </div>

    <br><br><br><br><br>
    <!--Row 2-->
    <div class="row">
        <!--Text area-->
        <div th:insert="base :: textarea"></div>

        <!--End of Row2-->
    </div>

    <!--    End of container-->
</div>

<br><br>
<!--Footer-->
<div th:insert="base :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>